# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=web_database
POSTGRES_DRIVER='postgresql+asyncpg'

# Web (FastAPI backend)
WEB_PORT=8000
WEB_HOST=web
WEB_DEBUG=True
WEB_ORIGIN=http://localhost:8000

# Mail
MAIL_USERNAME="mail@yandex.ru"
MAIL_PASSWORD="password"  # НЕ ПАРОЛЬ ОТ ПОЧТЫ. Инструкция по генерации пароля https://yandex.ru/support/yandex-360/customers/mail/ru/mail-clients/others
MAIL_FROM="mail@yandex.ru"